
.spread-banner{
	height:200px;
	position: relative;
	background: #097331;
}
.banner-shape{
    position: absolute;
    width: 25%;
    top: 0;
    right: 5%;
    height: 100%;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #0F9448;
    z-index: 0;
}

.blurb{
	width:80%;
}

.banner.blurb{
    position: relative;
    z-index: 2;
    float: left;
    color: white;
}

.page-text{
	background: white;
}

.blurb.con{
}

.box-section{
	background: white;
	padding-top:5%; 
	padding-bottom:5%;
}

.link-box{
	display: inline-block;
	width:30%;
	height:50px;
	margin-right: 2%;
	border-top:10px solid #aed139;
	border-bottom:10px solid rgb(15, 148, 72); 
	border-left:1px solid #9EA2A4;
	border-right:1px solid #9EA2A4;
}