footer{
	background:#4D4F4F;
	overflow: hidden;
	color: #9EA2A4;
	font-size: 14px;
}

footer li{
	padding-top:1.5%;
}

footer i{
	color: red;
}

footer div{
	position: relative;
	z-index: 2;
}

footer span{
	color: white;
	font-size: 18px;
	position: relative;
	left:-6%;
}

.foot-logo{
	 background: url(../images/A-accomplus.png) no-repeat center center; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position:absolute;
	height:306px;
	width:313px;
	z-index:1;
	right:0;
	top: 0; 
}


.foot-nav-header{
	display: inline-block;
	width:100%;
	clear:both;
}

.foot-nav-header div{
	float:right;
	display: inline-block;
	width:33%;
	padding:0;
}


.footer-nav{
	float:left;
	width:33%;
}
.main-office{
	float:left;
	width:33%;
}
.spring-office{
	float:left;
	width:33%;
}

.bot-nav{
	display: inline-block;
	width:95%;
	clear:both;
}

.bot-nav li{
	float:right;
	padding-left: 1%;
}

.spring-office-head{
	text-align: right;
}

