.management-collect{
	background: white;
	padding-bottom: 3%;
	overflow: hidden;
}

.leader-profile{
	border-bottom:10px solid #aed139;
	width:100%;
	padding-top:3%;
	overflow: hidden;
}

.leader-image-con{
	height:100%;
	width:25%;
	float: left;
	position: relative;
}

/*.leader-image{
	background: url(../images/boss.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height:0;
	width:100%;
	padding-top: 113.2%;
}
*/
.leader-info{
	width:70%;
	padding-left: 5%;
	float: left;
	padding-bottom: 2%;
}

.leader-info h3{
	font-size: 28px;
    line-height: 1;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
}

.leader-info h4{
    font-size: 20px;
    line-height: 1.25;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #4d4f4f;
    margin-top: -3.5%;
}

.leader-info p{
    font-size: 18px;
    line-height: 1.56;
    font-family: 'Open Sans',sans-serif;
    color: #797c7d;
    overflow: hidden;
    webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.leader-info a{
	display: inline-block;
	color: #797c7d;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
	line-height: 1; 
	padding-bottom: 1%;
	margin-right: 3.5%;
	border-bottom: 2px solid #aed139;	
}

.closed{
	max-height: 80px;
}

.opened{
	max-height: 1200px;
}

.email-hov{
	position: relative;
}

.links {
	width:100%;
}


.links a{
	display: inline-block;
}

.email-box{
	position: absolute;
    text-align: center;
    padding: 2% 10% 2% 10%;
    background: #fff;
    margin-top: 2%;
    border: 2px solid #aed139;
    z-index: 5;
    opacity: 0;
    webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

}

/*.up-shape {
	width: 0;
	height: 0;
	border-left: 50px solid #aed139;
	border-right: 50px solid #aed139;
	border-bottom: 100px solid white;
}*/