
.page-nav{
    position: relative;
    left: 21%;
    float: right;
    border: 2px solid #aed139;
    padding: 2%;
    width: 25%;
    display: inline-block;
    max-height: 800px;
    overflow-y:scroll;
}

.resources .main-mission{
	padding-top: 5%;
}