footer{
	background:#4D4F4F;
	overflow: hidden;
	color: #9EA2A4;
	padding:2% 0 2% 0;
	font-size:15px;
	line-height: 1.93;
}

footer li{
}

footer i{
	color: red;
}

footer div{
	position: relative;
	z-index: 2;
}

footer span{
	color: white;
	font-size: 17px;
	position: relative;
	display: inline-block;
	left:-6%;
}

.foot-logo{
	 background: url(../images/logo-bot.png) no-repeat center center; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position:absolute;
	height:0;
	width:18%;
	padding-top: 25.6%;
	z-index:1;
	right:0;
	bottom: 0; 
}

.map-icon{
	display: inline-block;
    background: url(../images/ico-location.png) no-repeat center center;
    background-size: cover;
    height: 0;
    width: 6.5%;
    right: 9%;
    padding-top: 8.15%;
    z-index: 1;
}

.main-office{
	position: relative;
	display: inline-block;
	float:left;
	width:25%;
}


.bot-nav{
    display: inline-block;
    width:100%;
    clear: both;
    overflow: hidden;
    float: left;
}

.bot-nav li{
	float:left;
	padding-right: 1%;
}


