
.contact-bar{
	position: relative;
	float: right;
	background: #F5F5F1;
	color: #4d4f4f;
	padding-top: .5%;
	padding-bottom:.5%;
	z-index: 1;
}

.contact-bar li{
	display: block;
	line-height: 10px;
	font-size: 12px;
	padding:0 0 0 4%;
	float: right;
	font-weight: 300;

}

.contact-bar strong{
	font-size: 22px;

}

.logo-bar{
	background-color: white;
}

.logo{
	position: relative;
	 background: url(../images/logo.png) no-repeat center center; 
  	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	z-index: 2;
  	bottom: 0;
	height:0;
	width:72%;
	padding-top:13.7%;
	margin-top: 1.65%;
}

.nav-bar{
	 background-color: #0e9548;
	 overflow: hidden;
	 padding-top:0;
}

.nav-bar ul{
	display: inline-block;
	width:70%;
	float: left;
	padding:0;
}

.search{
	display: inline-block;
	float: right;
	color: white;
	width:17%;
}

.search input{
	background: transparent;
	border: none;
	padding-top:8%;
	width:85%;
	border-bottom:1px white solid;
}

.nav-bar li{
	display: block;
	float: left;
	padding:2.5% 5% 2.5% 5%;
	text-align: center;
	webkit-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.nav-bar li a{
	color:white;
	font-family: 'Myriad Pro Regular',sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1;
	text-transform: uppercase;
}

.home .nav-bar li:first-child{
	background-color: #50b341;
}

.current-menu-item,.nav-bar li:hover{
	background: #097331 !important;
}