
.main-mission{
	background: white; 
	padding-bottom:4%;
}
.main-slider{
	width:100%;
}

.caro{
	width:100%;
	position: relative;
}

.caro ul{
	width:100%;
	position: relative;
	height:100%;
	overflow: hidden;
	z-index: 4;
}

.caro li{
	display: inline-block;  
    overflow: hidden;  
    width: 100%;    
    float: left;  
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;
    height:400px;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out; 

}

.forward-but,.back-but{
	position:absolute;
	-webkit-text-stroke: 1px #797c7d;
	height:50px;
	width:50px;
	font-size: 50px;
	color: white;
	z-index: 5;
}

.back-but{
    top: 47%;
    left: 5%;
}

.forward-but{
    top: 47%;
    right: 4%;
}


.news-update{
	background: #F5F5F1;
	padding-top: 1%;
	padding-bottom: 1%;
}

.news-update p{
	padding:0;
	margin:0;
}

.mission-blurb{
	width:70%;
	display: inline-block;
	float: left;
}

.mission-blurb p{
	font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    color: #797c7d;
    line-height: 1.5;
}

.mission-blurb h2{
	font-size: 40px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
}


.mission-menu{
	width: 25%;
	float: right;
	display: inline-block;
	height:100%;
	background: red;
}

.services-sec{
	background: #F5F5F1;
	width: 64%;
	padding:3% 18% 3% 18%;
}

.big-service{
	float:left;
	position: relative;
	display: inline-block;
	border:1px #797c7d solid;
	width:21%;
	padding:3.5% 5% 3.5% 5%;
	margin-right: 2%;
	height:200px;
	color: #797c7d;
	background: #F5F5F1;
	text-align: center;
}

.big-service p{
	line-height: 1.67;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}

.big-service h3{
    font-size: 24px;
    line-height: 1;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.big-service .icon{
    background-color:#F5F5F1;
    color: #797c7d;
    position: absolute;
    color:red;
    width: 30%;
    font-size: 50px;
    top: -15%;
    left: 35%;
}

.small-service .icon{
    background-color: #F5F5F1;
    position: absolute;
    width: 50%;
    font-size: 16px;
    line-height: 0px;
    top: -14%;
    left: 25%;
    text-align: center;
}

.small-service{
	position: relative;
    float: right;
    display: inline-block;
    border: 1px #797c7d solid;
    width: 33%;
    height: 103px;
    padding-top: 2%;
    background: #F5F5F1;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 1.67;
    color: #797c7d;	
}

.small-service ul{
}

.small-service li{
	padding-top: 1.5%;
}


.services-sec a,.main-mission a{
	color: #797c7d;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
	line-height: 1; 
	padding-bottom: 1%;
	border-bottom: 2px solid #aed139;	
}

.small-service.bot{
	margin-top: 2%;
}

.small-service.bot .icon{
	width: 45%;
    left: 27.5%;
}