
.main-mission{
	background: white; 
	padding-bottom:4%;
	overflow: hidden;
	position: relative;
}
.main-slider{
	width:100%;
}

.caro{
	width:100%;
	position: relative;
}

.caro ul{
	width:100%;
	position: relative;
	overflow: hidden;
	z-index: 4;
}

.forward-but,.back-but{
	position:absolute;
	-webkit-text-stroke: 1px #797c7d;
	height:50px;
	width:50px;
	font-size: 32px;
	color: white;
	z-index: 5;
	top: 49%;
}

.back-but{
    left: 10%;
}

.forward-but{
    right: 8%;
}


.news-update{
	background: #F5F5F1;
    padding-top: 0.5%;
    padding-bottom: .5%;
}

.news-update p{
	padding:0;
	margin:0;
}

.mission-blurb{
	width:70%;
	display: inline-block;
	float: left;
}

.mission-blurb p{
	font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    color: #797c7d;
    line-height: 1.5;
}

.mission-blurb h2{
	font-size: 40px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    color: #4d4f4f;
}


.mission-menu{
	width: 25%;
	float: right;
	display: inline-block;
	height:100%;
	background: red;
}

.services-sec{
	background: #F5F5F1;
	padding-top: 3%;
    padding-bottom: 3%;
}

.big-service{
	float:left;
	position: relative;
	display: inline-block;
	border:1px #797c7d solid;
    width: 25%;
    height: 200px;
    padding: 2.5% 3% 3.5% 3%;
	margin-right: 2%;
	color: #797c7d;
	background: #F5F5F1;
	text-align: center;
}

.big-service p{
	line-height: 1.67;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}

.big-service h3,.small-service h3{
	display: block;
    font-size: 24px;
    line-height: 1;
    color: #4d4f4f;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}

.icon .check,.icon .user{
	position: relative;
	z-index: 2;
  	bottom: 0;
	height:0;
    width: 60%;
    padding-top: 60%;
    left:20%;
    -webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.user{
	 background: url(../images/staff-icon.png) no-repeat center center; 
}

.check{
	 background: url(../images/check-icon.png) no-repeat center center; 
}


.big-service .icon{
    background-color:#F5F5F1;
    color: #797c7d;
    position: absolute;
    color:red;
    width: 30%;
    font-size: 28px;
    top: -9%;
    left: 35%;
}

.small-service .icon{
    background-color: #F5F5F1;
    position: absolute;
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.small-service{
	position: relative;
    float: right;
    display: inline-block;
    border: 1px #797c7d solid;
    width: 33%;
    padding-top: 2%;
    background: #F5F5F1;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    line-height: 1.67;
    color: #797c7d;	
}

.small-service.quest{
	min-height: 75px;
}

.small-service.quest .icon{
	min-height: 75px;
	width: 60%;
	top: -35%;
    left: 20%;
}


.small-service li{
	padding-top: 1.5%;
}


.services-sec a,.main-mission a{
	color: #797c7d;
	position: relative;
	font-family: 'Vollkorn', serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1; 
	padding-bottom: 1%;
	border-bottom: 1px solid #aed139;	
}

.services-sec a{
	bottom:0;
	position: absolute;
}

.small-service.bot{
    height: 115px;
    bottom: -32px;

}

.quest a{
	margin-top: 5%;
}

.small-service.bot .icon{
    width: 60%;
    top: -25%;
    left: 20%;
}